# =========================
# goEvently Docker Env
# Copy this file to .env and update values locally.
# Do NOT commit your real .env file.
# =========================

# MySQL
MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_USER=goevently
MYSQL_PASSWORD=change_me_app_password

AUTH_DB=auth_db
EVENT_DB=event_db
BOOKING_DB=booking_db
PAYMENT_DB=payment_db
NOTIFICATION_DB=notification_db

# JWT
JWT_SECRET=change_me_to_a_long_secure_jwt_secret_key_for_hs256

# Service ports
EUREKA_PORT=8761
API_GATEWAY_PORT=8080
AUTH_SERVICE_PORT=8081
EVENT_SERVICE_PORT=8082
NOTIFICATION_SERVICE_PORT=8083
BOOKING_SERVICE_PORT=8084
PAYMENT_SERVICE_PORT=8085

# Kafka
KAFKA_EXTERNAL_PORT=9092
ZOOKEEPER_PORT=2181